@import url("../styles/details.css");

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container for the entire layout */
#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-right: 10px;
    width: 100px;
    height: auto;
  }

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 1rem;
}

/* Header sections */
h1, h2 {
    text-align: center;
    width: 100%;
}

h1 {
    margin: 20px 0;
}

#title {
    margin-left: 2rem;
}

/* Governors list and facility sections */
#container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
}

#mainContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-right: 3rem;
}

#governors__list, #facility {
    padding: 10px;
}

select {
    width: 100%;
    padding: 10px;
}

/* Colony and facility details sections */
#colonyDetails, #facilityDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

#colonyDetails {
    width: 100%;
    margin-top: 20px;
}

#colonyDetails h2, #facilityDetails h2 {
    margin: 0px auto;
    text-align: center;
}

#colonyDetails ul {
    padding: 0;
    text-align: center;
}

#colonyDetails li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}

#mineralsList {
    width: auto;
    text-align: center; 
}

/* Facility details and space cart sections */
#lowerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#facilityDetails {
    width: 66%;
    margin: 20px 0;
}

#facilityDetails h2 {
    margin: 20px 0; /* Adjust margin for spacing */
}

#theSpaceCartSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out elements evenly */
    align-items: center; /* Center align elements */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    height: 100%; /* Ensure the section takes full height available */
    text-align: center; /* Center text content */
}

#spaceCart {
    width: 100%; /* Full width to prevent button shift */
    text-align: center; /* Center text content within spaceCart */
}

#spaceCartButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure container spans full width for centering */
    margin-top: auto; /* Push the button to the bottom */
}

